html
	background: url("../img/wallpaper.jpeg") no-repeat center center fixed
	background-size cover

.clock
	font-size 144px
	color white
	font-family "Fira Code"
	position absolute
	bottom 0
	right 0
	padding 32px 48px