html
	background url("../img/wallpaper.jpeg") no-repeat center center fixed
	background-size cover
	overflow hidden

.filter
	background linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0))
	width 100vw
	height 100vh

.clock
	font-size 160px
	line-height 160px
	font-family "Bebas Neue"
	height 250px
	width 400px
	font-weight 700
	display flex
	justify-content center
	align-items center
	color #FFF
	position absolute
	bottom 0
	right 0

.weather
	color #FFF
	flex-grow 1
	height 250px
	display flex
	width 900px
	position absolute
	bottom 0
	left 0
	box-sizing border-box
	padding 32px 0

.weather-current
	font-family sans-serif
	height 100%
	width 400px
	display flex
	flex-direction column
	align-items center
	justify-content space-between

.weather-day-label
	font-size 14px
	font-weight 700
	text-align center
	font-family sans-serif

.weather-current-content
	display flex
	align-items center

.weather-current-symbol
	height: 90px
	width auto
	margin-right: 24px

.weather-current-temp
	font-size 144px
	line-height 144px
	font-family "Bebas Neue"
	font-weight 400

.weather-current-location
	font-size 14px
	font-weight 700
	text-align center

.weather-forecast
	flex-grow 1
	height 100%
	display flex
	flex-direction row
	flex-wrap no-wrap

.weather-forecast-card
	box-sizing border-box
	height 100%
	flex-grow 1
	display flex
	flex-direction column
	align-items center
	justify-content space-between
	box-sizing border-box
	border-left 0.5px solid rgba(255, 255, 255, 0.1)

.weather-forecast-symbol
	height 64px

.weather-forecast-temp
	font-family sans-serif
	font-weight 700
	font-size 18px
